.courses a{
    font-size: 20px;
    font-weight:600;
    color: black;
    margin-left:40px;
    text-decoration: none;
    
}

.navimg{
    width:45px;
    border-radius: 50%;
}
.navimg2{
    width:20px;
    border-radius:20%;
}
.logoName{
    font-size: 23px;
    font-weight:bold;
    text-decoration: none;
}
.login-btn ,.signup-btn{
    border-radius: 20px;
    background-color: #f94ca4;
    padding: 2px 11px;
    border: 1px solid white; 
    color: white;
}
.login-btn{
    padding: 2px 17px;
}
.btns-login{
    margin-left:25px;
}


@media(max-width:991px){
    .courses a{
        font-weight:500;
        color: rgb(255, 255, 255); 
        font-size:25px ;
       
    }
   .canvasBg{
        
        background-color:rgba(23, 14, 14, 0.81);
    }
    .login-btn ,.signup-btn{
      margin-top:15px;
    }
    .user-name{
      color: rgb(8, 185, 255);
    }
}
