.aboutus-img img{
    height: 500px;
    width: 500px;
}

.aboutus-title{
    padding-top:80px;
    margin-bottom: -100px;
    font-weight:800;
    color:#382929;
    font-size:40px;
}
.about-description{
    padding-top:100px;
}
.about-description p{
    color:#60666c;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
}
@media only screen and (min-width: 280px) and (max-width:1280px) {

    .aboutus-img img{
        height: 400px;
        width:100%;
    }
    .aboutus-title{
        padding-top:80px;
        margin-bottom:-40px;
    }
    .about-description p{
        padding-left: 26px;
        padding-right: 26px;
    }
 
   
    }